<h1>index</h1>

<%= link_to "New post", new_post_path %>
<br />

<% @posts.each do |post| %>
  <div style="border: 1px solid green; margin: 10px auto; width: 80%;">
    <h2><%= link_to post.title, post %></h2>
    <div style="border: 1px solid blue; margin: 3px;">
      <%= raw post.body %>
    </div>
    <% if post.ip_address == user_ip_address %>
      <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
  </div>
<% end %>

<table>
  <caption>Request Headers</caption>
  <% request.env.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
